# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution
build/
dist/
*.egg-info/

# Environment Variables
.env

# Database
*.db

# VS Code
.vscode/

# Logs
*.log

!data/sample_logs/
!data/sample_logs/auth_sample.log
!data/sample_logs/access_sample.log

# Testing
.pytest_cache/

# OS Files
.DS_Store
Thumbs.db
alerts.db
